body
{
  background-image: url("footer_lodyas.png");
  background-repeat: repeat;
  background-position: left top;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
}

.seats-container
{
  display: grid;
  grid-template-columns: repeat(10,30px);
  grid-template-rows: [A] 30px [B] 30px [C] 30px [D] 30px [E] 30px [F] 30px [G] 30px [H] 30px [I] 30px [J];
  grid-gap: 5px;
  justify-content: center;
  justify-items: stretch;
  align-content: start;
}

.seats-container > button
{
  border-radius: 0;
}

.seats-container > label
{
  width: 30px;
  height: 30px;
}

.seats-container > button:focus
{
  box-shadow: none;
}

.screen
{
  background-color: black;
  color: white;
  width: 100px;
}

.foot
{
  position: relative;
  bottom: 0;
  left:0;
  color: white;
  height: 30px;
  width: 100%;
  text-align: center;
}



.personalInfoForm
{
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.seat > span
{
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
}

.seat > input + span
{
  color: white;
  background-color: var(--success);
}

.seat > input:checked + span
{
  color: black;
  background-color: var(--warning);
}